#sidebar.column {
    width: 20%;
    float: left;
}

.column .sidenav {
    padding: 10px;
    height: 300px;
}

#maincontent.column {
    width: 80%;
    float: right;
}

.column .main-container {
    padding: 10px;
    height: auto;
}

.main-container .intro-card ul {
    list-style: none;
    li {
        display: inline;
        a {
            text-decoration: none;
        }
        img {
            height: 30px;
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
        }
        img:hover {
            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
        }
    }
}

mat-card {
    margin-bottom: 10px;
}

// Intro Card/Terminal

.terminal_window {
    text-align: left;
    position: relative;
    border-radius: 10px;
}
.terminal_window mat-card-title {
    background-color: #E0E8F0;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
}

.terminal_window .button {
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px;
}

.red_btn {
    background-color: #E75448;
}

.green_btn {
    background-color: #3BB662;
}

.yellow_btn {
    background-color: #E5C30F;
}

.terminal_window {
    background-color: #224957;
    color: #F4FAFF;
    font-size: 11pt;
}

.terminal_text {
    margin-left: 20px;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
}

#typed-strings {
    display: inline-block;
    position: relative;
}

#typed {
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    margin-left: 15px;
}

.intro-card.terminal_window {
    padding: 0px;
    .topbar {
        margin-bottom: 0px;
    }
    .description p {
        padding-left: 10px;
    }
}

mat-card-title.card-title span {
    border-bottom: rgb(250, 221, 75) solid 2px;
}

// Education Card
.education-card .univ-container {
    display: table-cell;
    width: 50%;
}

.education-card .univ-logo {
    display: inline-block;
    margin-top: 10px;
}

.education-card .content {
    display: inline-block;
}

.univ-logo.northeastern-logo {
    width: 20%;
}

.univ-logo.mumbai-univ-logo {
    width: 18%;
}

.content ul.info-list {
    list-style: none;
    padding: 0;
}

ul.info-list .univ-title {
    font-size: 22px;
    font-weight: 500;
}

ul.info-list .college {
    white-space: nowrap;
}

ul.info-list .major {
    width: 70%;
}

// Experience Card

.experience-card .company-logo {
    width: 10%;
    display: inline-block;
}
.experience-card .work-place {
    display: inline-block;
}

.work-place ul {
    padding-left: 30px;
    list-style: none;
}

// Skills Card

span.skill {
    width: 100px;
}

// Project Card

.project-tile {
    // position: relative;
	display: inline-block;
    overflow: hidden;
    height: auto;
    max-width: 100%;

    .project-tile-body {
        display: block;
    }

    .project-tile-layer {
        opacity: 0;
        position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        padding: 15px;
        -moz-transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

    .project-layer-text {
        text-align: center;
        font-size: 18px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.project-tile:hover .project-tile-layer,
.project-tile.active .project-tile-layer {
    opacity: 1;
}
