<div class="column" id="sidebar">
    <div class="sidenav">
        <tcb-sidenav [topics]="sections"></tcb-sidenav>
    </div>
</div>
<div class="column" id="maincontent">
    <div class="main-container">

        <!--Basic Introduction-->
        <mat-card class="intro-card section terminal_window" id="{{sections[0].id}}">
            <!--Section should be called my SOURCE CODE!!!-->
            <mat-card-title class="topbar">
                <div class="red_btn button"></div>
                <div class="green_btn button"></div>
                <div class="yellow_btn button"></div>
            </mat-card-title>

            <mat-card-content class="description terminal_window">
                <div id="typed-strings" class="terminal-text">
                    <p>>>> <span style="color: orange">name</span> = <span style="color: yellow">"Shyam Padia"</span></p>
                    <p>>>> <span style="color: orange">university</span> = <span style="color: yellow">"Northeastern University"</span></p>
                    <p>>>> <span style="color: orange">languages</span> = <span style="color: yellow">["Python", "Java", "Node.js"]</span></p>
                    <p>>>> <span style="color: orange">last_company</span> = <span style="color: yellow">"Intuit"</span></p>
                    <p>>>> <span style="color: orange">print(<span style="color: yellow">social</span>)</span>
                    <!-- <p>
                        I am an experienced Software Engineer and Researcher with immense passion about Computer Science.
                        I specialize in Artificial Intelligence, more specifically Natural Language Processig and Reinforcement Learning.
                    </p> -->
                    <ul>
                        <li *ngFor="let icon of icons">
                            <a class="social-icons" href="{{socialIcons[icon].url}}">
                                <img src="{{socialIcons[icon].icon}}" />
                            </a>
                        </li>
                    </ul>
                    <span id="typed"></span>
                </div>

            </mat-card-content>
            <!--List of social media to follow including email in icon form-->


        </mat-card>

        <!--Education and Highlights-->
        <div class="row edu-highlight section" id="{{sections[1].id}}">
            <div class="column education">
                <mat-card class="education-card">
                    <mat-card-title class="card-title"><span>Education</span></mat-card-title>
                    <mat-list>

                        <mat-list-item>
                            <div class="row univ-title-container">
                                <div class="column logo">
                                    <img class="univ-logo" src="assets/images/northeasternlogo.png">
                                </div>
                                <div class="column content">
                                    <span class="univ-title">Northeastern University</span>
                                    <span class="college">College of Computer and Information Science</span>
                                    <span class="major">Master of Science in Computer Science</span>
                                    <span class="graduation">December 2019</span>
                                    <!--Courses-->
                                    <!--Achievements-->
                                </div>
                            </div>
                        </mat-list-item>

                        <mat-list-item>
                            <div class="row univ-title-container">
                                <div class="column">
                                    <img class="univ-logo" src="assets/images/mumbaiuniversitylogo.png">
                                </div>
                                <div class="column">
                                    <span class="univ-title">University of Mumbai</span>
                                    <span class="college">Fr. Conceicao Rodrigues College of Engineering</span>
                                    <span class="major">Bachelor of Engineering in Computer Engineering</span>
                                    <span class="graduation">May 2016</span>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </mat-card>
            </div>
            <div class="column highlights">
                <mat-card class="highlights-card" id="highlights-card">
                    <!-- <div class="highlights-cloud" id="highlights-cloud"></div> -->
                    <mat-card-title class="card-title"><span>Highlights</span></mat-card-title>
                    <mat-list>
                            <mat-list-item>Data Scientist, Software Architect</mat-list-item>
                            <mat-list-item>Problem Solver, Design Thinker</mat-list-item>
                    </mat-list>
                </mat-card>
            </div>
            <br style="clear:both;"/>
        </div>

        <!--Experiennce-->
        <mat-card class="experience-card section" id="{{sections[2].id}}">
            <mat-card-title class="card-title"><span>Experience</span></mat-card-title>
            <mat-list>
                <h3>Intuit</h3>
                <h4>Software Engineering Coop</h4>
                <h5>San Diego, California</h5>
                <mat-list-item>Worked in the CG Department of TurboTax in the Self Service Team. Worked with python lambdas and spring boot. Saved close to 2 million $. Won the First Ever Innovator Award at the Codechella event</mat-list-item>
                <h3>Votercircle</h3>
                <h4>Software Developer</h4>
                <h5>Bangalore, India</h5>
                <mat-list-item>Built the Organizer functionality from the ground up, Integrated NationBuilder, Elastic Search</mat-list-item>
                <h3>IIT Bombay</h3>
                <h4>Research Intern</h4>
                <h5>Mumbai, India</h5>
                <mat-list-item>Created micro-services for automated notifications and invoice generation.</mat-list-item>
            </mat-list>
        </mat-card>
        <mat-card class="skills-card section" id="{{sections[3].id}}">
            <mat-card-title class="card-title"><span>Skills</span></mat-card-title>
            <mat-list>
                <mat-list-item>
                        <span class="skill">Python</span>
                        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                </mat-list-item>
                <mat-list-item>
                        <span class="skill">Java</span>
                        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                </mat-list-item>
            </mat-list>
        </mat-card>
        <mat-card class="projects-card section" id="{{sections[4].id}}">
            <mat-card-title class="card-title"><span>Projects</span></mat-card-title>
            <mat-grid-list class="projects-grid" cols="3" rowHeight="200px">
                <mat-grid-tile *ngFor="let tile of tiles" class="project-tile" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
                        <div  class="project-tile-body">
                            {{tile.text}}
                        </div>
                        <div class="project-tile-layer">
                            <div class="project-layer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor ligula porttitor, lacinia sapien non.</div>
                        </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
        <mat-card class="achievements-card section" id="{{sections[5].id}}">
            <mat-card-title class="card-title"><span>Achievements</span></mat-card-title>
            <mat-list>
                <mat-list-item>Innovator Award - Codechella 2018</mat-list-item>
                <mat-list-item>Runner Up, Paper Presentation, Technomania 2016</mat-list-item>
                <mat-list-item>3rd Place, RIP The Crypt, Crescendo 2015</mat-list-item>
                <mat-list-item></mat-list-item>
            </mat-list>
        </mat-card>
        <!-- Other stuff like leadership(find a better name): ieee, networking internship and stuff, Publications, Interests, Hobbies-->
    </div>
</div>
