@import "../../../variables.scss";

#sidebar.column {
    width: 20%;
    float: left;
}

.column .sidenav {
    padding: 10px;
    height: 300px;
}

#maincontent.column {
    width: 80%;
    float: right;
}

.column .main-container {
    padding: 10px;
    height: auto;
}

mat-card {
    margin-bottom: 10px;
    background-color: $accent-color;
    border-radius: 10px;
}

// Intro Card/Terminal

.terminal_window {
    text-align: left;
    position: relative;
    border-radius: 10px;
}
.terminal_window mat-card-title {
    background-color: #E0E8F0;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
}

.terminal_window .button {
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px;
}

.red_btn {
    background-color: #E75448;
}

.green_btn {
    background-color: #3BB662;
}

.yellow_btn {
    background-color: #E5C30F;
}

.terminal_window {
    background-color: $terminal-color;
    color: #F4FAFF;
    font-size: 11pt;
}

.terminal_text {
    margin-left: 20px;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
}

#typed-strings {
    display: inline-block;
    position: relative;
}

#typed {
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    margin-left: 15px;
}

.intro-card.terminal_window {
    padding: 0px;
    .topbar {
        margin-bottom: 0px;
    }
    .description p {
        padding-left: 10px;
    }
}

mat-card-title.card-title span {
    font-size: 30px;
    border-bottom: $terminal-color solid 2px;
}

// Education Card
.education-card .univ-container {
    display: table-cell;
    width: 50%;
}

.education-card .univ-logo {
    display: inline-block;
}

// .education-card .univ-logo.mumbai-univ-logo {
//     margin-top: -5px;
// }

.education-card .content {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.education-card .content.northeastern-content {
    margin-top: -10px;
}

.education-card .content.mumbai-univ-content {
    margin-top: -20px;
}

.education-card .course-chip {
    margin: 5px 8px 0 0 !important;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2) !important;
}

// .univ-logo.northeastern-logo {
//     width: 20%;
// }

// .univ-logo.mumbai-univ-logo {
//     width: 18%;
// }

.content ul.info-list {
    list-style: none;
    padding: 0;
}

ul.info-list .univ-title {
    font-size: 22px;
    font-weight: 500;
}

ul.info-list .college {
    white-space: nowrap;
}

ul.info-list .major {
    width: 70%;
}

// Experience Card

.experience-card .company-logo {
    display: inline-block;
}

.experience-card .work-place {
    display: inline-block;
}

.work-place ul {
    padding-left: 30px;
    list-style: none;
}

// Skills Card

.skill-sections .section {
    display: inline-grid;
    width: 32%;
    margin-top: 10px;
}

.skill-sections .section-name {
    display: inherit;
}

.skill-sections .skill-list {
    display: inline-block;
}

.skill-sections span.section-name {
    color: lightslategray;
    font-size: 18px;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: $terminal-color;
}

::ng-deep .mat-progress-bar-buffer {
    background: $bg-color;
}
//change progress bar color

span.skill {
    width: 100px;
    padding-right: 5px;
    text-align: center;
}

// Project Card

.project-tile {
    // position: relative;
    display: inline-block;
    overflow: hidden;
    height: auto;
    max-width: 100%;

    // Keep aspect ratio 56.25% (16:9) intact

    .project-tile-body {
        // display: block;
        top: 10px;
        left: 10px;
        position: absolute;
        color: black;
    }

    .project-tile-layer {
        opacity: 0;
        position: absolute;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        color: #d0d3d4;
        padding: 15px;
        -moz-transition: all 0.4s ease-in-out 0s;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -ms-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }

    .project-layer-text {
        text-align: center;
        font-size: 15px;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    a.code-link {
        text-decoration: none;
        img {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 30px;
            height: 30px;
            filter: grayscale(100%) invert(100%);
            -webkit-filter: grayscale(100%) invert(100%);
            -moz-filter: grayscale(100%) invert(100%);
            -o-filter: grayscale(100%) invert(100%);
            -ms-filter: grayscale(100%) invert(100%);
            // -webkit-appearance:button;
            // -moz-appearance:button;
            // -o-appearance:button;
            // -ms-appearance:button;
        }
    }

}

.project-tile:hover .project-tile-layer,
.project-tile.active .project-tile-layer {
    opacity: 1;
}

// Achievements Card
.achievements .innovator img {
    height: 100px;
}

.achievements .technomania img {
    height: 120px;
}

.achievements .rip-the-crypt img {
    height: 120px;
}

.achievements img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

// .achievements .achievement-container {
//     width: 33%;
//     float: left;
//     margin: 0;
//     text-align: center;
//     padding: 0;
// }

.achievements .achievement-container {
    display: table-cell;
    width: 33%;
    text-align: center;
}

.achievements-card .achievement-description {
    display: inline-block;
}

// Ref: https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
}

/* Laptops ----------- */
@media only screen and (min-device-width: 1224px) {
    .experience-card .company-logo {
        width: 10%;
    }

    .univ-logo.northeastern-logo {
        width: 20%;
    }

    .univ-logo.mumbai-univ-logo {
        width: 18%;
    }
}

/* Desktops and Large screens ----------- */
@media only screen and (min-device-width: 1824px) {
    .experience-card .company-logo {
        width: 6.5%;
    }

    .univ-logo.northeastern-logo {
        width: 16%;
    }

    .univ-logo.mumbai-univ-logo {
        width: 14%;
    }
}
