.main-container {
    position: fixed;
    width: 19%;
    img.user-image {
        display: block;
        margin: auto;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 2px solid black;
    }
    .image-card .title {
        margin-top: 10px;
        font-weight: bold;
        font-size: 20px;
        font-family: Helvetica;
        text-align: center;
    }
    .image-card .description {
        font-size: 12px;
        text-align: center;
        font-family: Helvetica;
    }
    .sidenav-container {
        background-color: white;
        margin-top: 20px;
        padding-right: 10px;
    }
    .sidenav-content {
        margin-top: 10px;
        text-align: center;
        font-size: 17px;
        letter-spacing: 1px;
        padding: 10px;
    }
    .text-wrapper:hover {
        -ms-transform: scale(1.5); /* IE 9 */
        -webkit-transform: scale(1.5); /* Safari 3-8 */
        transform: scale(1.5);
    }
    .text-wrapper .nav-link {
        text-decoration: none;
    }
    .nav-link.active {
        border-bottom: 2px solid #70b1c5;
    }

    .image-card ul {
        list-style: none;
        padding: 0;
        text-align: center;
        li.icon-list {
            display: inline;
            a {
                text-decoration: none;
            }
            img {
                width: 30px;
                height: 30px;
                filter: grayscale(0%) invert(0%);
                -webkit-filter: grayscale(0%) invert(0%);
            }
            img:hover {
                filter: grayscale(100%) invert(100%);
                -webkit-filter: grayscale(100%) invert(100%);
            }
        }
    }
}
