<div class="main-container">
  <mat-card class="image-card">
      <!-- Underline not displaying properly and sections are not identified : CREATE ISSUE : -->
      <!-- Lookup how github readmes jump to sections -->
      <img mat-card-image class="user-image" src="assets/images/dp.jpg" alt="Profile Photo" />
      <mat-card-title class="title">{{title}}</mat-card-title>
      <mat-card-content class="description">
        <p>{{description}}</p>
      </mat-card-content>
      <mat-card-actions *ngIf="user">
        <button mat-button>CHANGE PHOTO</button>
      </mat-card-actions>
        <!--List of social media to follow including email in icon form-->
        <ul>
            <li class="icon-list" *ngFor="let icon of icons">
                <a class="social-icons" href="{{socialIcons[icon].url}}">
                    <img src="{{socialIcons[icon].icon}}" />
                </a>
            </li>
        </ul>
      <mat-divider [inset]="true"></mat-divider>
      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav>Start</mat-sidenav>
        <mat-sidenav-content class="sidenav-content" *ngFor="let topic of topics">
          <div class="text-wrapper"><a class="nav-link" [ngClass]="{'active': topic.id === currentFragment}" [routerLink]="['.']" [fragment]="topic.id">{{topic.name}}</a></div>
        </mat-sidenav-content>
      </mat-sidenav-container>
  </mat-card>
</div>
